body, html {
    font-family: monospace, 'Courier New', Courier;
    margin: 0;
    background-color: #AAAAAA
}

canvas {
    border: 2px solid black;
    background-color: #AA0000;
    margin: 0 auto;
}
table {
    width: 100%;
    height:100vh;
    
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  place-items: center; /* Optional: centers both items */
  width: 100vw;
  height: 100vh;
}

.base-layer, 
.overlay-layer {
  grid-column: 1;
  grid-row: 1;
}


.overlay-layer {
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.base-layer {
    width:100vw;
    height: 100vh;  
    overflow:hidden;
    overflow-wrap:anywhere;
    word-break:break-all;
    white-space: pre-wrap;
    
}

